@page "/education"
@using Color = MudBlazor.Color

<MudDivider/>
<MudTimeline TimelineAlign="TimelineAlign.Default" TimelinePosition="TimelinePosition.Start">
    <MudTimelineItem Color="Color.Primary" Elevation="25">
        <MudCard Elevation="3" Class="mt-n1">
            <MudCardContent>
                <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true">VIA University College</MudText>
                <MudText Color="Color.Secondary" Typo="Typo.body1">2019 Aug - 2023 Jan</MudText>
                <MudText Typo="Typo.subtitle1" Style="font-weight: bold" Color="Color.Primary">Software Technology Enginnering</MudText>
                <MudText Typo="Typo.body1">
                    Studied the many concepts and technologies in the field related to Data, Web, and
                    Embedded software solutions, specializing in Internet of Things, and wrote my bachelor project in robotics.
                </MudText>
            </MudCardContent>
        </MudCard>
    </MudTimelineItem>
    <MudTimelineItem Color="Color.Primary" Elevation="25" TimelineAlign="TimelineAlign.End">
        <MudCard Elevation="3" Class="mt-n1">
            <MudCardContent>
                <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true">Lovassy László Secondary Grammar School</MudText>
                <MudText Color="Color.Secondary" Typo="Typo.body1" GutterBottom="true">2014 Sep - 2019 May</MudText>
                <MudText Typo="Typo.subtitle1" Style="font-weight: bold" Color="Color.Primary">IT Specialization</MudText>
                <MudText Typo="Typo.body1">Learned the basics of programming and algorithms with Paschal and Java</MudText>
            </MudCardContent>
        </MudCard>
    </MudTimelineItem>
</MudTimeline>
<MudPaper Elevation="3">
    <MudText Typo="Typo.h5" Color="Color.Primary" Style="padding: 10px; font-weight: bold">Languages</MudText>
</MudPaper>
<MudTimeline TimelineAlign="TimelineAlign.Default" TimelinePosition="TimelinePosition.End">
    <MudTimelineItem Color="Color.Primary" Elevation="25">
        <MudCard Elevation="3" Class="mt-n1">
            <MudCardContent>
                <MudStack>
                    <MudStack Row AlignItems="AlignItems.Center">
                        <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true" Style="padding-right: 30px">English</MudText>
                        <MudProgressLinear Color="Color.Primary" Size="Size.Large" Value="90"  />
                    </MudStack>
                    <MudStack Row AlignItems="AlignItems.Center">
                        <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true" Style="padding-right: 35px">Danish</MudText>
                        <MudProgressLinear Color="Color.Primary" Size="Size.Large" Value="30"/>
                    </MudStack>
                    <MudStack Row AlignItems="AlignItems.Center">
                        <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true" Style="padding-right: 5px">Hungarian</MudText>
                        <MudProgressLinear Color="Color.Primary" Size="Size.Large" Value="100"/>
                    </MudStack>
                </MudStack>
            </MudCardContent>
        </MudCard>
    </MudTimelineItem>
</MudTimeline>

<div style="padding-bottom: 20px"></div>

@code {

}