@page "/experience"
@using Color = MudBlazor.Color
<h3>Experience</h3>

<MudTimeline>
    <MudTimelineItem Color="Color.Primary" Elevation="25" >
        <ItemOpposite>
            <MudText Color="Color.Primary" Typo="Typo.h5">2022 Jan - Present</MudText>
        </ItemOpposite>
        <ItemContent>
            <MudPaper Elevation="0" Class="mt-n1">
                <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true">Keyhole A/S</MudText>
                <MudText Typo="Typo.body2">Backend/Cloud Native Developer</MudText>
                <MudText Typo="Typo.body2">Stuff that I did during this time.</MudText>
            </MudPaper>
        </ItemContent>
    </MudTimelineItem>
    <MudTimelineItem Color="Color.Primary" Elevation="25" TimelineAlign="TimelineAlign.End">
        <ItemOpposite>
            <MudText Color="Color.Primary" Typo="Typo.h5" GutterBottom="true">2021 Aug - 2022 Jan</MudText>
        </ItemOpposite>
        <ItemContent>
            <MudPaper Elevation="0" Class="mt-n1">
                <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true">Keyhole A/S</MudText>
                <MudText Typo="Typo.body2">Backend/DevOps Internship</MudText>
                <MudText Typo="Typo.body2">Stuff that I did during this time.</MudText>
            </MudPaper>
        </ItemContent>
    </MudTimelineItem>
</MudTimeline>

@code {

}