@page "/experience"
@using Color = MudBlazor.Color

<MudPaper Elevation="3">
    <MudText Typo="Typo.h5" Color="Color.Primary">Work Experience</MudText>
</MudPaper>

<MudTimeline TimelineAlign="TimelineAlign.Default" TimelinePosition="TimelinePosition.Start">
    <MudTimelineItem Color="Color.Primary" Elevation="25">
        <MudCard Elevation="3" Class="mt-n1">
            <MudCardContent>
                <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true">Keyhole A/S</MudText>
                <MudText Color="Color.Secondary" Typo="Typo.body1">2022 Jan - Present</MudText>
                <MudText Typo="Typo.body2">Backend/Cloud Native Developer</MudText>
                <MudText Typo="Typo.body2">Stuff that I did during this time.</MudText>
            </MudCardContent>
        </MudCard>
    </MudTimelineItem>
    <MudTimelineItem Color="Color.Primary" Elevation="25" TimelineAlign="TimelineAlign.End">
        <MudCard Elevation="3" Class="mt-n1">
            <MudCardContent>
                <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true">Keyhole A/S</MudText>
                <MudText Color="Color.Secondary" Typo="Typo.body1" GutterBottom="true">2021 Aug - 2022 Jan</MudText>
                <MudText Typo="Typo.body2">Backend/DevOps Internship</MudText>
                <MudText Typo="Typo.body2">Stuff that I did during this time.</MudText>
            </MudCardContent>
        </MudCard>
    </MudTimelineItem>
</MudTimeline>
<MudPaper Elevation="3">
    <MudText Typo="Typo.h5" Color="Color.Primary">Projects</MudText>
</MudPaper>
<MudTimeline TimelineAlign="TimelineAlign.Default" TimelinePosition="TimelinePosition.End">
    <MudTimelineItem Color="Color.Primary" Elevation="25">
        <MudCard Elevation="3" Class="mt-n1">
            <MudCardContent>
                <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true">Keyhole A/S</MudText>
                <MudText Color="Color.Secondary" Typo="Typo.body1">2022 Jan - Present</MudText>
                <MudText Typo="Typo.body2">Backend/Cloud Native Developer</MudText>
                <MudText Typo="Typo.body2">Stuff that I did during this time.</MudText>
            </MudCardContent>
        </MudCard>
    </MudTimelineItem>
    <MudTimelineItem Color="Color.Primary" Elevation="25" TimelineAlign="TimelineAlign.Start">
        <MudCard Elevation="3" Class="mt-n1">
            <MudCardContent>
                <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true">Keyhole A/S</MudText>
                <MudText Color="Color.Secondary" Typo="Typo.body1" GutterBottom="true">2021 Aug - 2022 Jan</MudText>
                <MudText Typo="Typo.body2">Backend/DevOps Internship</MudText>
                <MudText Typo="Typo.body2">Stuff that I did during this time.</MudText>
            </MudCardContent>
        </MudCard>
    </MudTimelineItem>
    <MudTimelineItem Color="Color.Primary" Elevation="25">
        <MudCard Elevation="3" Class="mt-n1">
            <MudCardContent>
                <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true">Keyhole A/S</MudText>
                <MudText Color="Color.Secondary" Typo="Typo.body1">2022 Jan - Present</MudText>
                <MudText Typo="Typo.body2">Backend/Cloud Native Developer</MudText>
                <MudText Typo="Typo.body2">Stuff that I did during this time.</MudText>
            </MudCardContent>
        </MudCard>
    </MudTimelineItem>
    <MudTimelineItem Color="Color.Primary" Elevation="25" TimelineAlign="TimelineAlign.Start">
        <MudCard Elevation="3" Class="mt-n1">
            <MudCardContent>
                <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true">Keyhole A/S</MudText>
                <MudText Color="Color.Secondary" Typo="Typo.body1" GutterBottom="true">2021 Aug - 2022 Jan</MudText>
                <MudText Typo="Typo.body2">Backend/DevOps Internship</MudText>
                <MudText Typo="Typo.body2">Stuff that I did during this time.</MudText>
            </MudCardContent>
        </MudCard>
    </MudTimelineItem>
    <MudTimelineItem Color="Color.Primary" Elevation="25">
            <MudCard Elevation="3" Class="mt-n1">
                <MudCardContent>
                    <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true">Keyhole A/S</MudText>
                    <MudText Color="Color.Secondary" Typo="Typo.body1">2022 Jan - Present</MudText>
                    <MudText Typo="Typo.body2">Backend/Cloud Native Developer</MudText>
                    <MudText Typo="Typo.body2">Stuff that I did during this time.</MudText>
                </MudCardContent>
            </MudCard>
        </MudTimelineItem>
        <MudTimelineItem Color="Color.Primary" Elevation="25" TimelineAlign="TimelineAlign.Start">
            <MudCard Elevation="3" Class="mt-n1">
                <MudCardContent>
                    <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true">Keyhole A/S</MudText>
                    <MudText Color="Color.Secondary" Typo="Typo.body1" GutterBottom="true">2021 Aug - 2022 Jan</MudText>
                    <MudText Typo="Typo.body2">Backend/DevOps Internship</MudText>
                    <MudText Typo="Typo.body2">Stuff that I did during this time.</MudText>
                </MudCardContent>
            </MudCard>
        </MudTimelineItem>
</MudTimeline>

<div style="padding-bottom: 15px"></div>

@code {

}